<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a [routerLink]="['']" class="navbar-brand" href="#">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/bootstrap-icon-logo-png-transparent.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Placeholder
    </a>
      <p *ngIf="currentUser?.firstName" class="navbar-brand">&nbsp;&nbsp; Logged as: {{currentUser?.firstName}} &nbsp;&nbsp;
        <button  [routerLink]="['/login']" (click)="logout()" class="btn btn-primary">
          <a>Logout</a> 
        </button>
      </p>
</nav>