<h2 class="display-4">Dashboard</h2>
<br>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile [routerLink]="['/users']">
        <div id="users" class="col md-12 row">
             <h5>Users</h5>
            <div>     
                <img src="https://www.web2printdownunder.co.nz/images/230/204/user-img.png?h=cdd010b0"
                width="50%" height="70%"/>
            </div>
        </div>    
    </mat-grid-tile>

    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

